<div style="min-height: 70vh;" class="container py-5">
  <div class="row">
    {{#each books}}
      <div class="col col-sm-6 col-md-3 w-100 my-4" style="max-width: 300px;">
        <div class="flex justify-content-center align-items-center">
          <div style="width:150px;height:250px; margin:auto">
            <img src="{{this.image}}" style="width: 100%;height:80%" />
          </div>
        </div>
        <div style="height: 160px;background-color:#D4DFE4;" class="w-100 py-2 px-3 flex flex-column">
          <h5 style="height: 38px;overflow:hidden" class="font-weight-bold">{{this.title}}</h5>
          <h6 style="height: 40px;overflow:hidden" class="text-secondary font-weight-bolder py-2">{{this.authors}}</h6>
          <div class="d-flex justify-content-between pt-4">
            <h5 class="text-secondary">$ {{this.price}}</h5>
            <h5 class="text-secondary">{{this.pageCount}} pages</h5>
          </div>
        </div>
        <div>
          {{#if this.quantity}}
            <button type="button" class="btn btn-outline-info w-100 d-flex mt-3" style="justify-content: space-between; align-items: center">
              <h3 onclick="removeFromCart('{{this.id}}')">-</h3>
              <h3>{{this.quantity}}</h3>
              <h2 onclick="addToCart('{{this.id}}')">+</h2>
            </button>
          {{else}}
              <button onclick="addToCart('{{this.id}}')" class="btn btn-info w-100 mt-3">Add To Cart</button>
          {{/if}}
          {{#if this.inWishlist}}
          <a href="/wishlist"><button class="btn btn-primary w-100 mt-3">Already In Wishlist</button></a>
          {{else}}
            <form method="POST" action="/wishlist" class="w-100 mt-3">
              <input type="hidden" name="id" value="{{this.id}}" />
              <button type="submit" class="btn btn-secondary w-100">Add To Wishlist</button>
            </form>
          {{/if}}
        </div>
      </div>
    {{else}}
      <h1 style="margin: 250px auto;">No Results</h1>
    {{/each}}
  </div>
</div>

<script>
  const addToCart = async (bookId) => {
    await fetch('http://localhost:3000/cart', {
      method: 'POST',
      body: JSON.stringify({
        id: bookId
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    });
    window.location.reload();
  }

  const removeFromCart = async (bookId) => {
    await fetch('http://localhost:3000/cart/remove', {
      method: 'POST',
      body: JSON.stringify({
        id: bookId
      }),
      headers: {
        "Content-type": "application/json; charset=UTF-8"
      }
    });
    window.location.reload();
  }

</script>